<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizer Prediction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/crop.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>
  </head>
<body>
  <header>
    <div class="home"><a href="{{url_for('home')}}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></div>
</header>

<div class="container">
 
  <div class="form_container_1">
    <h2 style="text-align: center; margin: 0px;">
      <b>Get informed advice on fertilizer based on soil</b>
    </h2>

</div>
<div class="form_container_2">
          
  <form  class="form" method="POST" action="{{ url_for('fertilizer_prediction') }}">
    <div class="form-control">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="number"
       
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-control">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous</b></label
      >
      <input
        type="number"
       
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-control">
      <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
      <input
        type="number"
     
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-control">
      <label for="Moisture" style="font-size: 17px"><b>Moisture</b></label>
      <input
        type="number"
        class="form-control"
        id="Moisture"
        name="moisture"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-control">
      <label for="soil" style="font-size: 17px"
        ><b>Soil type</b></label
      >
      <select
        name="soil type"
        class="form-control"
        id="soil"
        placeholder="Select soil type"
        style="font-weight: bold"
        required
      >
        <option selected>Select soil</option>
        <option>Sandy</option>
        <option>Clayey</option>
        <option>Loamy</option>
        <option>Black</option>
        <option>Red</option>
      </select>
    </div>
    <div class="form-control">
      <label for="crop" style="font-size: 17px"
        ><b>Crop you want to grow</b></label
      >
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select crop</option>
        <option>Maize</option>
        <option>Sugarcane</option>
        <option>Cotton</option>
        <option>Tobacco</option>
        <option>Paddy</option>
        <option>Barley</option>
        <option>Wheat</option>
        <option>Millets</option>
        <option>Oil seeds</option>
        <option>Pulses</option>
        <option>Ground Nuts</option>
      </select>
    </div>
    <div class="form-control">
      <label for="State" style="font-size: 17px "><b>Temperature</b></label>
      <input
        type="number"
        step="1"
       
        id="Rainfall"
        name="temp"
        placeholder="Enter the value"
       
        required
      />
      <!-- <select
        onchange="print_city('state', this.selectedIndex);"
        id="sts"
        name="stt"
        class="form-control"
        style="font-weight: bold;"
        
        required
      ></select>
      <br />
      <label for="City" style="font-size: 17px"><b>City</b></label>
      <select
        id="state"
        class="form-control"
        name="temp"
        style="font-weight: bold;"
        required
      ></select>
      <script language="javascript">
        print_state("sts");
      </script> -->
    </div>
    <div class="form-control">
      <label for="State" style="font-size: 17px "><b>Humidity</b></label>
      <input
        type="number"
        step="1"
       
        id="Rainfall"
        name="humi"
        placeholder="Enter the value"
       
        required
      />
    </div>
      <div class="d-flex justify-content-center">
        <div style="display: flex;justify-content: end;">
      <button
        type="submit"
        class="btn"
        style="font-weight: bold ;width: 100px; height:50px; border-radius:12px; font-size:15pxm;margin-top: 20px;"
      >
        Predict
      </button>
      </div>
    </div>
  </form>


</div>


</div>
 
</body>
</html>