<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ugaoo</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/x-icon" href="images/logo_1.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

</head>

<body>

    <nav>
        <div class="logo">
            <div class="img_logo">
                <img src="static/images/logo_1.png" alt="">
            </div>
            <div class="company_name">
                <div class="comapny_name_1">UGAOO</div>
                <div class="company_name_2">Agri&nbsp;+&nbsp;Tech </div>
            </div>
        </div>
        <div class="menu_bar">

            <ul class="menu-bar">
                <li class="lia"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a></li>
                <li class="lia"><a href="#about"><i class="fa fa-graduation-cap"
                            aria-hidden="true"></i>&nbsp;&nbsp;About Us</a></li>
                <li class="lia"><a href="#services"><i class="fa fa-sign-in"
                            aria-hidden="true"></i>&nbsp;&nbsp;Services</a></li>
                <li class="lia"><a href="#team"><i class="fa fa-graduation-cap"
                            aria-hidden="true"></i>&nbsp;&nbsp;Team</a></li>
            </ul>
        </div>
    </nav>

    <header>

        <div class="container">
            <div class="content">
                <!-- <div class="heading_1">
                 <h1>UAGOO</h1>
             </div>
             <div class="heading_2">
                 <h2>AGRITECH COMPANY</h2>
             </div>-->

            </div>
        </div>
    </header>

    <section class="about" id="about">
        <div class="about_content">
            <div class="about_1">
                <span>About Us</span>
            </div>
            <div class="about_2">
                We use state-of-the-art Machine learning and Deep learning technologies to help you guide through the
                entire farming process. Make informed decisions to understand the demographics of your area, understand
                the factors that affect your crop and keep them healthy for a super awesome successful yield.
            </div>

        </div>
        <div class="about_images">

        </div>
    </section>

    <section class="services" id="services">
        <div class="services_images">
            <div class="services_text">
                <h2 class="services_text_h2">Services</h2>
            </div>
            <div class="services_box">
                <div class="services-box">
                    <a href="/crop-predict">
                        <div class="services-box-1">
                            <div class="crop_images"> <img style="height:60px;" src="static/images/logo_1.png" alt="">
                            </div>
                            <div class="crop_content">
                                <div class="Predict_name"> Crop Prediction</div>
                                <div class="about_predict">
                                    Recommendation about the type of crops to be cultivated which is best suited for the
                                    respective conditions.
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
                <div class="services-box">
                    <div class="services-box-1">
                        <a href="/fertilizer-predict">
                            <div class="services-box-1">
                                <div class="crop_images"> <img style="height:60px;" src="static/images/fertilizer.png"
                                        alt=""></div>
                                <div class="crop_content">
                                    <div class="Predict_name"> Fertilizer Prediction</div>
                                    <div class="about_predict">
                                        Recommendation about the type of fertilizer best suited for the particular soil
                                        and the recommended crop.
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="services-box">
                    <div class="services-box-1">
                        <a href="/disease-predict">
                            <div class="services-box-1">
                                <div class="crop_images"> <img style="height:60px;" src="static/images/d.png" alt="">
                                </div>
                                <div class="crop_content">
                                    <div class="Predict_name">Crop Disease</div>
                                    <div class="about_predict">
                                        Predicting the name and cause of crop disease and suggestions to cure it.
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>

    </section>
    <section class="team" id="team">
        <div class="team_background">
            <div class="team_name">
                <h1 class="team_name_h1">Team</h1>
            </div>

            <div class="team_member">

                <div class="member_details">
                    <!-- <div class="member_img">
                    <img  style="height:130px;width:70%;position: relative;top:10%;left:15%;border-radius: 10%;" src="static/images\kunal.jpeg" alt="">
                </div> -->
                    <div class="member_name">
                        <span class="span_1">Kunal Asthana</span>
                        <p>Master of Computer Application</p>
                        <p>(Kamla Nehru Institute of Technology)</p>
                    </div>
                </div>
                <div class="member_details">
                    <!-- <div class="member_img">
                    <img  style="height:130px;width:70%;position: relative;top:10%;left:15%;border-radius: 10%;" src="static/images\bhawana.jpg" alt="">
                </div> -->
                    <div class="member_name">
                        <span class="span_1">Bhawana</span>
                        <p>Master of Computer Application</p>
                        <p>(Kamla Nehru Institute of Technology)</p>
                    </div>
                </div>
                <div class="member_details">
                    <!-- <div class="member_img">
                    <img  style="height:130px;width:70%;position: relative;top:10%;left:15%;border-radius: 10%;" src="static/images\hesham.jpg" alt="">
                </div> -->
                    <div class="member_name">
                        <span class="span_1">Mohd Hesham Ashraf Ansari</span>
                        <p>Master of Computer Application</p>
                        <p>(Kamla Nehru Institute of Technology)</p>
                    </div>
                </div>
                <div class="member_details">
                    <!-- <div class="member_img">
                    <img  style="height:130px;width:70%;position: relative;top:10%;left:15%;border-radius: 10%;" src="static/images\kks.jpg" alt="">
                </div> -->
                    <div class="member_name">
                        <span class="span_1">Krishan Kant Singh Gautam</span>
                        <p>Master of Computer Application</p>
                        <p>(Kamla Nehru Institute of Technology)</p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <footer>
        <div class="footer_content">

            <div class="logo">
                <div class="img_logo">
                    <img src="static/images/logo_1.png" alt="">
                </div>
                <div class="company_name">
                    <div class="comapny_name_1">UGAOO</div>
                    <div class="company_name_2">Agri&nbsp;+&nbsp;Tech </div>
                </div>
            </div>

        </div>
    </footer>
</body>

</html>